.relocate {
  text-align: center;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

.form-wrapper {
  width: 55%;
  max-width: 42rem;
  margin: auto;
  padding-bottom: 5rem;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}
form {
  width: 100%;
  overflow: hidden;
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.25rem;
  }
  fieldset {
    width: 100%;
    padding: 0;
    border: none;
  }
  input,
  textarea {
    background-color: #d4d4d4;
    width: 100%;
    //display: inline;
    //border-radius: 5px;
    border: none;
    font-size: 1rem;
    height: 6rem;
    padding: 0.25rem;
  }
  input {
    height: 3.25rem;
    margin-bottom: 1rem;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
  }
  button {
    width: 11rem;
    height: 3.25rem;
    border: none;
    border-radius: 5px;
    background-color: #118aaf;
    color: white;
    font-size: 1.25rem;
    margin-top: 1rem;
  }
}
